<h1>Listing badge_tags</h1>

<table>
  <tr>
    <th>Badge</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @badge_tags.each do |badge_tag| %>
  <tr>
    <td><%= badge_tag.badge_id %></td>
    <td><%= badge_tag.tag_id %></td>
    <td><%= link_to 'Show', badge_tag %></td>
    <td><%= link_to 'Edit', edit_badge_tag_path(badge_tag) %></td>
    <td><%= link_to 'Destroy', badge_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Badge tag', new_badge_tag_path %>
