<%= form_for(@assertion) do |f| %>
  <% if @assertion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assertion.errors.count, "error") %> prohibited this assertion from being saved:</h2>

      <ul>
      <% @assertion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge_id %><br />
    <%= f.number_field :badge_id %>
  </div>
  <div class="field">
    <%= f.label :evidence %><br />
    <%= f.text_field :evidence %>
  </div>
  <div class="field">
    <%= f.label :expires %><br />
    <%= f.datetime_select :expires %>
  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
