<%= form_for(@assertion) do |f| %>
  <% if @assertion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assertion.errors.count, "error") %> prohibited this assertion from being saved:</h2>

      <ul>
      <% @assertion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge_id %><br />
    <%= f.number_field :badge_id %>
  </div>
  <div class="field">
    <%= f.label :issued_on %><br />
    <%= f.datetime_select :issued_on %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :evidence %><br />
    <%= f.text_field :evidence %>
  </div>
  <div class="field">
    <%= f.label :expires %><br />
    <%= f.datetime_select :expires %>
  </div>
  <div class="field">
    <%= f.label :identity %><br />
    <%= f.text_area :identity %>
  </div>
  <div class="field">
    <%= f.label :identity_type %><br />
    <%= f.text_field :identity_type %>
  </div>
  <div class="field">
    <%= f.label :identity_hashed %><br />
    <%= f.check_box :identity_hashed %>
  </div>
  <div class="field">
    <%= f.label :identity_salt %><br />
    <%= f.text_field :identity_salt %>
  </div>
  <div class="field">
    <%= f.label :verification_type %><br />
    <%= f.text_field :verification_type %>
  </div>
  <div class="field">
    <%= f.label :verification_url %><br />
    <%= f.text_field :verification_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
