<h1>Listing assertions</h1>

<table>
  <tr>
    <th>Badge</th>
    <th>Issued on</th>
    <th>Image</th>
    <th>Evidence</th>
    <th>Expires</th>
    <th>Identity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assertions.each do |assertion| %>
  <tr>
    <td><%= assertion.badge_id %></td>
    <td><%= assertion.created_at %></td>
    <td><%= assertion.image %></td>
    <td><%= assertion.evidence %></td>
    <td><%= assertion.expires %></td>
    <td><%= assertion.identity %></td>
    <td><%= link_to 'Edit', edit_assertion_path(assertion) %></td>
    <td><%= link_to 'Destroy', assertion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Create Assertion', new_assertion_path, :method => "get", class: 'btn btn-primary' %>
