<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenBadges</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "open_badges/application" %>
    <%= stylesheet_link_tag    "open_badges/application", :media => "all" %>

    <!-- Le styles -->
    <style>
      body {
        padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!--<link href="/stylesheets/admin.css" rel="stylesheet">-->

    <!--{% block header %}{% endblock %}-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./">
            <!--ClopenBadger{% if issuer %}: {{ issuer.name }} {{ issuer.org }} {% endif %}-->OpenBadges</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--<li {{ page | activize('home') }}><a href="/">Home</a></li>
              {% if user %}
                <li {{ page | activize('configure') }}>
                  <a href="/admin/config">Configure</a>
                </li>
                <li {{ page | activize('new-badge') }}>
                  <a href="/admin/badge">Create a Badge</a>
                </li>
                <li {{ page | activize('new-behavior') }}>
                  <a href="/admin/behavior">Create a Behavior</a>
                </li>

                <li class="">
                  <a href="" class="js-logout-link">Logout</a>
                  <form method="post" action="/logout" class="logout-form js-logout-form"></form>
                </li>
              {% endif %}-->
              <li class="active"><a href="/">Home</a></li>
              <li><a href="./organization">Configure</a></li>
              <li><a href="./badges">Create a Badge</a></li>

              <li class="">
                <a href="" class="js-logout-link">Logout</a>
                <!--<form method="post" action="/logout" class="logout-form js-logout-form"></form>-->
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container"><!--
      {% if not issuer %}
        {% if not issuerCheckExempt %}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Issuer configuration needs setting.</strong>
            <a href="/admin/config">Head over to the configuration page</a> and
            set that up. You can't issue badges until it's done.
          </div>
        {% endif %}
      {% endif %}-->

      <% flash.each do |key, value| %>
        <div class="<%= bootstrap_flash(key) %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= value %></strong>
        </div>
      <% end %>

      <%= yield %>
    </div> 

    <!--{% block footer %}{% endblock %}-->
  </body>
</html>