<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenBadges</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "open_badges/application" %>
    <%= stylesheet_link_tag    "open_badges/application", :media => "all" %>

    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <%= link_to 'OpenBadges', './', :class => 'brand' %>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--
              <li>
                <%= link_to 'Home', '/' %>
              </li>
              -->
              <li class=<%= 'active' if current_page?(organization_path) %>>
                <%= link_to 'Configure', organization_path %>
              </li>
              <li class=<%= 'active' if current_page?(badges_path) %>>
                <%= link_to 'Badges', badges_path %>
              </li>
              <li class=<%= 'active' if current_page?(tags_path) %>>
                <%= link_to 'Tags', tags_path %>
              </li>
              <li class=<%= 'active' if current_page?(alignments_path) %>>
                <%= link_to 'Alignments', alignments_path %>
              </li>
              <li class=<%= 'active' if current_page?(assertions_path) %>>
                <%= link_to 'Assertions', assertions_path %>
              </li>
            </ul>

            <ul class="nav pull-right">
              <li>
                <% if !user_signed_in? %>
                  <%= link_to 'Login', new_user_session_path %>
                <% else %>
                  <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
                <% end %>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container"><!--
      {% if not issuer %}
        {% if not issuerCheckExempt %}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Issuer configuration needs setting.</strong>
            <a href="/admin/config">Head over to the configuration page</a> and
            set that up. You can't issue badges until it's done.
          </div>
        {% endif %}
      {% endif %}-->

      <% flash.each do |key, value| %>
        <div class="<%= bootstrap_flash(key) %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= value %></strong>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>