<%= form_for(@badge) do |f| %>

  <% if defined?(title) && title.is_a?(String) && !title.empty? %>
    <legend><%= title %></legend>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "input-xlarge", :required => "" %>
    <span class="help-block">
      The name of the achievement.
    </span>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.url_field :image, :class => "input-xlarge", :required => "" %>
    <span class="help-block">
      URL or <a href="http://en.wikipedia.org/wiki/Data_URI_scheme">Data URL</a> of an image representing the achievement.
    </span>
  </div>

  <div class="field">
    <%= f.label :criteria %>
    <%= f.url_field :criteria, :class => "input-xlarge", :required => "" %>
    <span class="help-block">
      URL of the criteria for earning the achievement. If the badge represents an educational achievement, consider marking up this up with <a href="http://www.lrmi.net">LRMI</a>
    </span>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3, :class => "input-xxlarge", :required => "" %>
    <span class="help-block">
      A short description of the achievement.
    </span>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Tags (optional)" %>
    <%= f.text_field :tag_list, :autocomplete => 'off', :class => "input-xxlarge",
      :data => { :tags => OpenBadges::Tag.get_tag_list.to_json } %>
    <span class="help-block">
      List of tags that describe the type of achievement.
    </span>
  </div>

  <div class="field">
    <%= f.label :badge_alignments, "Alignments (optional)" %>
    <% selected = @badge.badge_alignments.map(&:alignment_id) %>
    <% selections = OpenBadges::Alignment.all.map{ |a| [a.name, a.id] } %>
    <%= f.select :alignment_ids, options_for_select(selections, selected), {}, { :class => "input-xxlarge", :multiple => true } %>
    <span class="help-block">
      List of educational standards this badge aligns to, if any.
    </span>
  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>
