<div class="title-with-pagination">
  <h1>Listing badges</h1>

  <%= page_navigation_links @badges%>
</div>

<table class="table table-hover">

<% @badges.each do |badge| %>
  <tr>
    <td class='badge-image-column'>
      <%= image_tag(badge.image, class: 'badge-image') %></td>
    <td>
      <h4 class="badge-name"><%= badge.name %></h4>
      <ul class="tag_list">
        <% badge.badge_tags.each do |badge_tag| %>
        <li><%= badge_tag.tag.name %></li>
        <% end %>
      </ul>
      <p class="badge-description"><%= badge.description %><p>
    </td>
    <td class= 'badge-options-column'>
      <%= link_to 'Edit', edit_badge_path(badge) %>
      <%= link_to 'Destroy', badge, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<%= button_to "Create Badge", new_badge_path, :method => "get", class: 'btn btn-primary' %>