<%= form_for(@alignment) do |f| %>

  <% if defined?(title) && title.is_a?(String) && !title.empty? %>
    <legend><%= title %></legend>
  <% end %>

  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, :class => "input-xlarge", :required => "" %>
    <span class="help-block">
      Name of the alignment.
    </span>
  </div>

  <div class="field">
    <%= f.label :url, "Website" %>
    <%= f.url_field :url, :class => "input-xlarge", :required => "" %>
    <span class="help-block">
      URL linking to the official description of the standard.
    </span>
  </div>

  <div class="field">
    <%= f.label :description, "Description (optional)" %>
    <%= f.text_area :description, :rows => 3, :class => "input-xxlarge" %>
    <span class="help-block">
      Short description of the standard.
    </span>
  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>
