<h1>Listing alignments</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alignments.each do |alignment| %>
  <tr>
    <td><%= alignment.url %></td>
    <td><%= alignment.name %></td>
    <td><%= alignment.description %></td>
    <td><%= link_to 'Show', alignment %></td>
    <td><%= link_to 'Edit', edit_alignment_path(alignment) %></td>
    <td><%= link_to 'Destroy', alignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alignment', new_alignment_path %>
