<%= form_for(@badge_alignment) do |f| %>
  <% if @badge_alignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge_alignment.errors.count, "error") %> prohibited this badge_alignment from being saved:</h2>

      <ul>
      <% @badge_alignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge_id %><br />
    <%= f.number_field :badge_id %>
  </div>
  <div class="field">
    <%= f.label :alignment_id %><br />
    <%= f.text_field :alignment_id %>
  </div>
  <div class="field">
    <%= f.label :integer %><br />
    <%= f.text_field :integer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
