<p id="notice"><%= notice %></p>

<p>
  <b>Badge:</b>
  <%= @badge_alignment.badge_id %>
</p>

<p>
  <b>Alignment:</b>
  <%= @badge_alignment.alignment_id %>
</p>

<p>
  <b>Integer:</b>
  <%= @badge_alignment.integer %>
</p>


<%= link_to 'Edit', edit_badge_alignment_path(@badge_alignment) %> |
<%= link_to 'Back', badge_alignments_path %>
